*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 50px;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #222525;
    background-color: #F8F5F2;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #F8F5F2;
}
h1{
    font-family: 'Poiret One', cursive;
    font-weight: 100;
    font-size: 92px;
}
h3{
    font-size: 20px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    margin: 0;
}

.contenedor{
    width: 1320px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
.contsec {
    width: 960px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
.contenedor p{
    width: 600px;
    padding-top: 10px;
}

nav{
    background-color: #7C8C77;
    padding: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;


}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 48px;
}
.menu{
    width: 1023px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu li{
    margin-left: 50px;
    margin-right: 50px;
}
.menu li a {
    color: #F8F5F2;
}

.header{
    background-color: #F8F5F2;
    padding-top: 60;
    padding-bottom: 40;
}
.banner{
    background: url(img/banner.jpg) no-repeat center center scroll;
    padding: 50px 0 0 0;
    height: 200px;
}

#promo{
    width: 391px;
    padding: 0 27px 0 72px;
    margin-left: auto;
    overflow: hidden;
}

.boton li a{
    display: block;
    width: 155px;
    height: 41px;
    line-height: 50px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-size: 18px;
}
.bot{
    background-color: #7C8C77;
}
.bot:hover{
    background-color: #F45D48;
}

#yoku{
    background: url(img/sushi_portada.jpg) no-repeat center center scroll;
    padding: 50px 0 50px 0;
    background-size: cover;
    height: 850px;
    padding: 100px 0;
    }

.yoku{
    display: block;
    flex-direction: row;
    justify-content: space-around;
}

.yoku h1{
    font-size: 184px ;
    padding-left: 50px;
    padding-bottom: 0;
    margin-top: 0px;
    margin-bottom: 70px;
}
.yoku h2{
    font-size: 52px;
    padding-left: 70px;
}
.yoku p{
    font-size: 24px;
    padding-left: 70px;
    padding-right: 38px;
    margin-top: 10px;
    margin-bottom: 77px;
}

.botones{
    display: flex;
    flex-direction: row;
    width: 600px;
    padding-left: 200px;
    padding-top: 10px;
    justify-content: space-between;
}
.botones li a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    
}
.bot1{
    background-color: #7C8C77;
}
.bot1:hover{
    background-color: #222525;
}
.bot2{
    background-color: #F45D48;
}
.bot2:hover{
    background-color: #222525;
}
section{
    background-color: #F8F5F2;
    padding-top: 40px;
    padding-bottom: 40px;
}
section article{
    color: #F8F5F2;
}

#sushi{
    padding: 100px 0;
}
.contsec h2{
    font-size: 38px;
    text-align: center;
    margin-bottom: 2%;
}
.contsec h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 2%;
}
.contsec p{
    font-size: 24px;
    text-align: center;
    margin-bottom: 3%;
}
.contsec h4{
    font-size: 30px;
    text-align: center;
}
.opc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F8F5F2;
    padding-left: 80px;
    padding-top: 50px;
}

.opc article{
    width: 350px;
    padding: 28px;
}
.opc h3{
    text-align:left;
}
.opc p a{
    margin-right: 27%;
}
#combinados h3{
    color: #65728C;
    margin-left: 3%;
}
#combinados p a{
    color: #F45D48;
}
#combinados p strong{
    color: #4FC7EC;
}
#calientes h3{
    color: #65728C;
    margin-left: 10%;
}
#calientes p a{
    color: #F45D48;
}
#combos h3{
    color: #65728C;
    margin-left: 14%;
}
#combos p a{
    color: #F45D48;
}

footer{
    background-color: #7C8C77;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer a{
    color: #F8F5F2;
}
.pieflex{
    display: flex;
    justify-content: space-between;
    font-display: row;
    color: #F8F5F2;
    padding-left: 80px;
}
footer .redes{
    display: flex;
    width: 5%;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 185px;
}

#contactar{
    background-color: #65728C;
    color: #F8F5F2;
    padding: 70px 0;
    text-align: center;
    margin-bottom: -2%;
}

form{
    width: 70%;
    margin: 0 auto;
    padding: 35px 0;
}

label{
    display: block;
    margin-bottom: 8px;
}
.espacio{
    margin: 16px 0px 16px 0px;
}
#Nombre-y-Apellido,#E-mail{
    padding: 15px;
}
#Consulta-Mensaje{
    padding: 15px;
}
#Nombre-y-Apellido,#E-mail,#Consulta-Mensaje{
    display: block;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: #F8F5F2;
}

button{
    display: inline-block;
    width: 150px;
    height: 43px;
    border-radius: 5px;
    border: none;
    margin-top: 5%;
}

.envia{
    background-color: #7C8C77 ;
    color: #F8F5F2 ;
    cursor: pointer;
}
.envia:hover{
    background-color: #222525 ;
}
.borra{
    background-color: #F45D48 ;
    color:#F8F5F2 ;
    cursor: pointer;
}
.borra:hover{
    background-color: #222525 ;
}

#portfolio{
    background-color: #7C8C77;
    width: 1134px;
    margin-left: 20%;
    padding: 24px 168px;
}
#portfolio h2{
    font-size: 36px;
    text-align: center;
    color: #F8F5F2;
    margin: 4px 0;
    font-weight: bolder;
}
#portfolio article{
    flex-direction: row;
    background-color: #7C8C77;
    margin-bottom: 20px;
    margin: 17px 36px;
}
#portfolio article a img{
    max-width: 100%;
    height: auto;
}
